* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

html {
  box-sizing: border-box;
  background-color: f0efeb;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  width: 100%;
  background-color: #1b1b1b;
  border-radius: 0 0 10px 10px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.hide-for-mobile {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.main-list {
  font-size: 21px;
  border: 5px;
  padding: 30px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
  /* transition: all 0.5s; */
}

.main-link:hover {
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

.sub-list {
  display: none;
  background-color: #1b1b1b;
  font-size: 15px;
  width: 125px;
  border-top: 1px solid cyan;
  border-radius: 8px;
  position: absolute;
  bottom: -102px;
  left: 8px;
}

.sub-list li {
  padding: 8px 6px;
}

.sub-list li a:hover {
  font-weight: bold;
  color: cyan;
}

.sub-of-js {
  width: 140px;
  bottom: -37px;
  left: 29px;
}

.main-list:hover .sub-list {
  /*this is a good code , once you hover on .main-list there's a class called .sub-list do ..... */
  display: block;
}

.sub-sub-list {
  display: none;
  background-color: #1b1b1b;
  font-size: 15px;
  width: 125px;
  border-top: 1px solid cyan;
  border-radius: 8px;
  position: absolute;
  bottom: -80px;
  left: 127px;
}

.mini-projects:hover .sub-sub-list {
  display: block;
}

.plus {
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 0;
}

main {
  height: calc(100vh - 142.92px);
  color: #1b1b1b;
  font-size: 40px;
  font-weight: bolder;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #1b1b1b;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-radius: 8px;
}

footer p {
  color: rgb(216, 216, 216);
}

.fa-copyright {
  color: rgb(193, 100, 100);
}

.fa-heart {
  color: rgb(198, 146, 48);
}

.show-for-mobile {
  display: none;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
